.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
    color: white !important;
    background-color: #f6323f !important;
    font-weight: bold !important;
}

.scroll {
    height: 100vh;
    overflow: scroll;
}

.headfix {
    position: sticky;
    top: 0;
}

.table-responsive {
    max-height: 400px;
}
